<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Vice'
	   Manufacturer='Matt Pharr'
	   Id='*'
	   UpgradeCode='A10E3C66-BA55-406A-B4E2-586D7108D622'
	   Language='1033'
	   Codepage='1252'
	   Version='0.10.6'
	   >
    <Package Id='*'
    	     Keywords='Installer'
	     Description="Vice Installer"
	     Manufacturer='Matt Pharr'
	     InstallerVersion='100'
	     Languages='1033'
	     Compressed='yes'
	     SummaryCodepage='1252'
	     />

    <MajorUpgrade DowngradeErrorMessage="A later version of Vice is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Vice">
          <Component Id="ViceExe" Guid='A10E3C66-BA55-406A-B4E2-586D7108D622'>
            <File KeyPath="yes" Name="Vice.exe" Source="Vice.exe"></File>
          </Component>
          <Component Id="SDLDLL" Guid='85535501-4016-47c4-9466-846df4cf49a5'>
            <File KeyPath="yes" Source="windows/SDL2.dll"></File>
          </Component>
          <Component Id="gccseh" Guid='68f22a6b-1710-4987-820c-b5cbad791dbe'>
            <File KeyPath="yes" Source="windows/libgcc_s_seh-1.dll"></File>
          </Component>
          <Component Id="libstdcpp" Guid='a7080cc5-8ddf-45b9-bf09-466652cc8b06'>
            <File KeyPath="yes" Source="windows/libstdc++-6.dll"></File>
          </Component>
          <Directory Id="ResourcesFolder" Name="resources">
            <Component Id="ResourcesFilesId" Guid="b5e58c58-4d43-4613-91f7-d55fb9fdde91">
              <File Id="airportdb"
                    Source="resources\\airports.csv.zst" KeyPath="yes" />
              <File Id="NAVBASE"
                    Source="resources\\NAV_BASE.csv.zst" />
              <File Id="FIXBASE"
                    Source="resources\\FIX_BASE.csv.zst" />
              <File Id="openscopeaircraft"
                    Source="resources\\openscope-aircraft.json" />
              <File Id="openscopeairlines"
                    Source="resources\\openscope-airlines.json" />
            </Component>
            <Directory Id="AudioFolder" Name="audio">
              <Component Id="AudioId" Guid="e14412f8-b08c-45d3-a753-706bf5f560f5">
                <File Id="gabrielaraujo__powerup_success"
                      Source="resources\\audio\\242501__gabrielaraujo__powerup-success.wav" KeyPath="yes" />
                <File Id="pan14__sine_tri_tone_down_negative_beep_amb_verb"
                      Source="resources\\audio\\263123__pan14__sine-tri-tone-down-negative-beep-amb-verb.wav" />
                <File Id="pan14__sine_octaves_up_beep"
                      Source="resources\\audio\\263124__pan14__sine-octaves-up-beep.wav" />
                <File Id="pan14__sine_fifths_up_beep"
                      Source="resources\\audio\\263125__pan14__sine-fifths-up-beep.wav" />
                <File Id="pan14__tone_beep_lower_slower"
                      Source="resources\\audio\\263126__pan14__tone-beep-lower-slower.wav" />
                <File Id="pan14__sine_up_flutter_beep"
                      Source="resources\\audio\\263129__pan14__sine-up-flutter-beep.wav" />
                <File Id="pan14__tri_tone_up_beep"
                      Source="resources\\audio\\263132__pan14__tri-tone-up-beep.wav" />
                <File Id="pan14__upward_beep_chromatic_fifths"
                      Source="resources\\audio\\263655__pan14__upward-beep-chromatic-fifths.wav" />
                <File Id="dland__hint"
                      Source="resources\\audio\\320181__dland__hint.wav" />
                <File Id="nsstudios__blip2"
                      Source="resources\\audio\\321104__nsstudios__blip2.wav" />
                <File Id="soundwarf__alert_short"
                      Source="resources\\audio\\387533__soundwarf__alert-short.wav" />
                <File Id="bbrocer__digital_alarm_loop"
                      Source="resources\\audio\\389511__bbrocer__digital-alarm-loop.wav" />
                <File Id="thisusernameis__beep4"
                      Source="resources\\audio\\426888__thisusernameis__beep4.wav" />
                <File Id="michaelatoz__alertwo_cc0"
                      Source="resources\\audio\\427961__michaelatoz__alertwo-cc0.wav" />
                <File Id="ranner__ui_click"
                      Source="resources\\audio\\487588__ranner__ui-click.wav" />
                <File Id="beetlemuse__alert_1"
                      Source="resources\\audio\\529626__beetlemuse__alert-1.wav" />
              </Component>
            </Directory>
            <Directory Id="MyFontsFolder" Name="fonts">
              <Component Id="FontsId" Guid="263928e7-8110-4fae-8030-2ee477cb0595">
                <File Id="FixedDemiBold"
                      Source="resources\\fonts\\FixedDemiBold.otf.zst" KeyPath="yes" />
                <File Id="FlightStripPrinter"
                      Source="resources\\fonts\\Flight-Strip-Printer.ttf.zst" />
                <File Id="FontAwesome5BrandsRegular400"
                      Source="resources\\fonts\\Font Awesome 5 Brands-Regular-400.otf.zst" />
                <File Id="FontAwesome5FreeRegular400"
                      Source="resources\\fonts\\Font Awesome 5 Free-Regular-400.otf.zst" />
                <File Id="FontAwesome5FreeSolid900"
                      Source="resources\\fonts\\Font Awesome 5 Free-Solid-900.otf.zst" />
                <File Id="InconsolataSemiBold"
                      Source="resources\\fonts\\Inconsolata-SemiBold.ttf.zst" />
                <File Id="InconsolataCondensedRegular"
                      Source="resources\\fonts\\Inconsolata_Condensed-Regular.ttf.zst" />
                <File Id="RobotoRegular"
                      Source="resources\\fonts\\Roboto-Regular.ttf.zst" />
                <File Id="VT323Regular"
                      Source="resources\\fonts\\VT323-Regular.ttf.zst" />
              </Component>
            </Directory>
            <Directory Id="VideoMapsFolder" Name="videomaps">
              <Component Id="VideoMapsId" Guid="f120781f-c141-4b3e-bd72-8ca98048be48">
                <File Id="a90maps"
                      Source="resources\\videomaps\\a90-maps.json.zst" />
                <File Id="abemaps"
                      Source="resources\\videomaps\\abe-maps.json.zst" />
                <File Id="atlmaps"
                      Source="resources\\videomaps\\atl-maps.json.zst" />
                <File Id="c90maps"
                      Source="resources\\videomaps\\c90-maps.json.zst" KeyPath="yes" />
                <File Id="clemaps"
                      Source="resources\\videomaps\\cle-maps.json.zst" />
                <File Id="cltmaps"
                      Source="resources\\videomaps\\cltmaps.json.zst" />
                <File Id="dabmaps"
                      Source="resources\\videomaps\\dab-maps.json.zst" />
                <File Id="jaxmaps"
                      Source="resources\\videomaps\\jax-maps.json.zst" />
                <File Id="n90maps"
                      Source="resources\\videomaps\\n90-maps.json.zst" />
                <File Id="phlmaps"
                      Source="resources\\videomaps\\phl-maps.json.zst" />
                <File Id="zjxmaps"
                      Source="resources\\videomaps\\zjx-maps.json.zst" />
              </Component>
            </Directory>
            <Directory Id="ScenariosFolder" Name="scenarios">
              <Component Id="ScenariosId" Guid="3072033b-c670-4e11-b941-2ea9bf892a83">
                <File Id="a80" Source="resources\\scenarios\\a80.json" />
                <File Id="a90" Source="resources\\scenarios\\a90.json" />
                <File Id="abe" Source="resources\\scenarios\\abe.json" KeyPath="yes" />
                <File Id="c90" Source="resources\\scenarios\\c90.json" />
                <File Id="cle" Source="resources\\scenarios\\cle.json" />
                <File Id="clt" Source="resources\\scenarios\\clt.json" />
                <File Id="dab" Source="resources\\scenarios\\dab.json" />
                <File Id="ewr" Source="resources\\scenarios\\ewr.json" />
                <File Id="f11" Source="resources\\scenarios\\f11.json" />
                <File Id="jax" Source="resources\\scenarios\\jax.json" />
                <File Id="jfk" Source="resources\\scenarios\\jfk.json" />
                <File Id="lga" Source="resources\\scenarios\\lga.json" />
                <File Id="lib" Source="resources\\scenarios\\lib.json" />
                <File Id="phl" Source="resources\\scenarios\\phl.json" />
              </Component>
            </Directory>
          </Directory>
        </Directory>

	<Directory Id="ProgramMenuFolder">
	  <Directory Id="ApplicationProgramsFolder" Name="Vice"/>
	</Directory>

	<Directory Id="DesktopFolder" Name="Desktop">
          <Component Id="ApplicationShortcutDesktop" Guid="*">
            <Shortcut Id="ApplicationDesktopShortcut"
                      Name="Vice ATC"
                      Description="Vice ATC Simulator"
                      Target="[#Vice.exe]"
                      WorkingDirectory="INSTALLFOLDER"/>
            <RemoveFolder Id="DesktopFolder" On="uninstall"/>
            <RegistryValue
                Root="HKCU"
                Key="Software\Matt Pharr\Vice"
                Name="installed"
                Type="integer"
                Value="1"
                KeyPath="yes"/>
          </Component>
	</Directory>

      </Directory>
    </Directory>

    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

    </UI>
    <UIRef Id="WixUI_Common" />

    <WixVariable Id="WixUIDialogBmp" Value="windows\dialog.bmp" />

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid='93fae481-57c0-499a-84c2-517067428f13'>
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Vice"
                  Description="ATC Simulator"
                  Target="[#Vice.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Matt Pharr\Vice" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MyFeature">
      <ComponentRef Id="ViceExe" />
      <ComponentRef Id="SDLDLL" />
      <ComponentRef Id="gccseh" />
      <ComponentRef Id="libstdcpp" />
      <ComponentRef Id="ResourcesFilesId" />
      <ComponentRef Id="AudioId" />
      <ComponentRef Id="FontsId" />
      <ComponentRef Id="ScenariosId" />
      <ComponentRef Id="VideoMapsId" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>
  </Product>
</Wix>
