*~
#*#
*.vsess
.DS_Store
installer.wixobj
rsrc_windows_*.syso
osx/icon.iconset/
osx/Vice.app/
osx/Vice*.dmg
osx/vice
osx/vice_amd64
osx/vice_arm64
resources/version.txt
notarize.out
vatsim-internal.cpp
vatsim-internal.go
vatsim-internal.h
Vice.App/
icon.iconset/
icon.icns
vice-logs/
vice/
vice
vice.exe
vice.zip
vice.slog
resources/speech/
SDL2.dll
