name: check-gofmt

on:
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]

    name: Check gofmt

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Setup go
      uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum

    - name: Check gofmt
      run: |
         if [ "$(gofmt -l . | wc -l)" -gt 0 ]; then
             echo The following files require reformatting with gofmt:
             gofmt -l .
             exit 1
         fi
