name: build-windows

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest ]

    name: Build ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        fetch-depth: 0   # fetch whole history so we can get tags for the installer :-(

    - name: Check git tags
      run: |
        git describe --tags --abbrev=8 --dirty --always --long
        git describe --tags --abbrev=0

    - name: Setup go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum

    - name: Checkout Windows prebuilts
      uses: actions/checkout@v4
      with:
        repository: mmp/vice-windows-ext
        path: ./ext

    - name: Install windows prebuilts
      working-directory: ./ext
      run: |
        unzip -q SDL2-devel-2.24.0-mingw.zip
        7z x x86_64-12.2.0-release-win32-seh-rt_v10-rev0.7z -omingw
        echo ${{ github.workspace }}/ext/mingw/mingw64 >> $GITHUB_PATH
        ls

    - name: Prepare icon resources
      run: |
        go install github.com/tc-hib/go-winres@latest
        go-winres make --in windows/winres.json

    - name: Build
      run: |
        git describe --tags --abbrev=8 --dirty --always --long > resources/version.txt
        go build -tags static -ldflags -H=windowsgui -o ./vice.exe .
        ls
      env:
        CGO_CFLAGS: "-I ../ext/SDL2-2.24.0/x86_64-w64-mingw32/include"
        CGO_CPPFLAGS: "-I ../ext/SDL2-2.24.0/x86_64-w64-mingw32/include"
        CGO_LDFLAGS: "-L ../ext/SDL2-2.24.0/x86_64-w64-mingw32/lib"

    - name: Check scenarios
      run:
        ./vice.exe -lint

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9

    - name: Install WiX
      run: dotnet tool install --global wix

    - name: Get Latest Git Tag
      run: Write-Output ("VERSION=" + ((git describe --tags --abbrev=0) -replace 'v', '')) >> "$env:GITHUB_ENV"

    - name: Build Installer
      run: dotnet build ./windows/Vice-Installer.wixproj -r win-x64 -c Release -p:DefineConstants=Version="$env:VERSION" -o out

    - name: Save executable
      uses: actions/upload-artifact@v4
      with:
        name: vice.exe
        path: vice.exe

    - name: Save installer
      uses: actions/upload-artifact@v4
      with:
        name: Vice-installer.msi
        path: ./out/en-US/Vice-installer.msi

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build

    runs-on: windows-latest

    steps:
    - name: Download a Build Artifact
      uses: actions/download-artifact@v4
      with:
        name: Vice-installer.msi

    - name: Rename installer for release
      run:
        Rename-Item -Path "Vice-installer.msi" -NewName "Vice-${{ github.ref_name }}-installer.msi"

    - name: Upload release
      uses: softprops/action-gh-release@v2
      with:
        files: 'Vice-${{ github.ref_name }}-installer.msi'
