name: staticcheck

on:
  pull_request:
    paths-ignore:
      - 'website/**'
      - '**.md'
  push:
    paths-ignore:
      - 'website/**'
      - '**.md'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]

    name: Check gofmt

    runs-on: ${{ matrix.os }}

    steps:
    - name: Install Linux dependencies
      run: |
        sudo apt update
        sudo apt install xorg-dev libsdl2-dev libsystemd-dev

    - name: Checkout source
      uses: actions/checkout@v4

    - name: Setup go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum

    - uses: dominikh/staticcheck-action@v1.3.1
      with:
        version: "latest"
        install-go: false

